@model IEnumerable<catalogo_produto.Models.Produto>

@{
    ViewData["Title"] = "Listagem de Produtos";
}

<h2>Produtos Cadastrados</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Categoria</th>
            <th>Usuário</th>
            <th>Data Registro</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id_produto</td>
                <td>@item.Nome_produto</td>
                <td>@item.Descricao_produto</td>
                <td>@item.Categoria?.Nome_categoria</td>
                <td>@item.Usuario?.Nome_usuario</td>
                <td>@item.Data_registro_produto.ToString("dd/MM/yyyy HH:mm")</td>
                <td>
                    <a asp-action="Editar" asp-route-id="@item.Id_produto" class="btn btn-warning btn-sm">Editar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
